*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

// html,
// body {
//   height: 100%;
//   width: 100%;
//   margin: 0;
//   padding: 0;
//   font-size: 3vmin;
// }

// html {
//   background: #151515;
//   color: #fff;
//   overflow: hidden;
// }

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.rootSlides {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: black;
  overflow: hidden;
  height: 437px;
}

.container {
  width: 0px;
}

.slides {
  // width: 50%;
  display: grid;
  > .slide {
    grid-area: 1 / -1;
  }

  > button {
    appearance: none;
    background: transparent;
    border: none;
    color: white;
    position: absolute;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    top: 30%;
    transition: opacity 0.3s;
    opacity: 0.7;
    z-index: 5;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &:first-child {
      left: -50%;
    }
    &:last-child {
      right: -50%;
    }
  }
}

.slide {
  //transform-style: preserve-3d;
  // border: solid 1px red;

  // &[data-active] {
  //   .slideContent > * {
  //     transform: none;
  //     opacity: 1;
  //   }
  // }
}

.slideContent {
  width: 25vw;
  height: 26vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;
  border-radius: 30px;

  display: grid;
  align-content: center;

  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-45deg * var(--dir)));
}

.starWarsPlanet_slides__sE0bJ > button:first-child {
  left: -83px;
}

.starWarsPlanet_slides__sE0bJ > button:last-child {
  right: -450px;
}

.slideContentInner {
  transform-style: preserve-3d;
  transform: translateZ(2rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;
  color: wheat;

  .slideSubtitle,
  .slideTitle {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    margin: 0;
  }

  .slideSubtitle::before {
    content: "— ";
    color: wheat;
  }

  .slideDescription {
    margin: 0;
    font-size: 0.8rem;
    letter-spacing: 0.2ch;
    color: wheat;
  }
}

.slideBackground {
  position: fixed;
  top: 0;
  left: -10%;
  right: -10%;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;

  transform: translateX(calc(10% * var(--dir)));
}

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;

  .slideBackground {
    opacity: 0.2;
    transform: none;
  }

  .slideContentInner {
    opacity: 1;
  }

  .slideContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;

    transform: perspective(1000px);

    &:hover {
      transition: none;
      transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
        rotateX(calc(var(--y) * -45deg));
    }
  }
}

.searchPlanetRoot {
  width: 100vw;
  /* display: flex; */
  height: 320px;
  background: black;
}

.sPlanetsDescriptionAndImg {
  display: flex ;
  background-color: black;
}

.sPDescriptionContainer {
  padding-top: 10px;
  overflow: hidden;
}


.sPImage img {
  /* width: 50%; */
  height: 50%;
  border-radius: 45px;
 }
.sPImage img {
/* width: 50%; */
height: 200px;
}

.sPDescription {
  width: 700px;
  color: whitesmoke;
  display: grid;
  padding: 5px;
  
}

.sPDescription span {
  /* font-size: x-large;
  font-weight: 700; */
  margin-left: 5px;
  font-family: inherit;
  font-size: 12px;
  color: whitesmoke;
}

.sPDetails {
  font-size: 20px;
  font-weight: 900 !important;
  color: whitesmoke;
}

.sPDetails  span {
  font-size: 14px;
  color: whitesmoke;
}

.sPName {
  color: whitesmoke;
  font-weight: 900;
  margin-left: 5px;
  font-size: 20px;
}

.sPSubmitButton {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: black;
  color: whitesmoke;
  border: 2px solid;
  border-color: whitesmoke;
  font-weight: 900;
  border-radius: 8px;
  margin-left: 10px;
}

.sPHeroIsRoot {
  width: 100%;
  background: black;
  padding-bottom: 3px;
}

.sPAutoSliderButton {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: black;
  color: whitesmoke;
  border: 2px solid;
  border-color: whitesmoke;
  font-weight: 900;
  border-radius: 8px;
  // margin-left: 10px;
}

.sPLink {
  color: whitesmoke;
  font-weight: 700;
  border: 2px solid;
  border-color: whitesmoke;
  border-radius: 8px;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 3px;
  padding-right: 3px;
}

.sPRotationPeriod {

}

.sPOrbitalPeriod {

}

.sPDiameter {

}

.sPClimate {

}

.sPGravity {

}

.sPTerrain {

}

.sPSurfaceWater {

}

.sPPopulation {

}

.sPResidents {
  
}

.sPSearching {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: black;
  color: whitesmoke;
  border: 2px solid;
  border-color: whitesmoke;
  margin-left: 7px;
  font-weight: 700;
  border-radius: 8px;
  padding-left: 5px;
  width: 91%;
}