.header {
    display: flex;
}
  
.logobuttons {
    display: inline-flex;
}
  
.logo {
    margin-left: 3%;
    width: 484px;
}
  
  
.buttons {
    display: flex;
  
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: -13px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 18px;
    margin-top: -13px;
    font-family: initial;
}